@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');

.flag{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    
}
.cards{
    text-align: center;
    width: 312px;
    height: 300px;
    border: 1px solid black;
    border-radius: 10px;
    margin-left: 24px;
    margin-bottom: 30px;
}
.vs{
    padding: 0 10px;
}
.country{
    font-size: 20px;
    font-weight: bold;
}
.date{
    color: gray;
}